@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;    
}

#Main-Logo{
    width: 175px;
}

body{
    background-color: #000;
}

#mainHeader{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/Netflix-Background.jpg');
    background-size: cover;
    background-position: 100%;
    height: 750px;
    border-bottom: 8px solid #222;
    background-color: #000;
    min-height: 500px;
}

#signinButton{
    background: #e50914;
}

button, select, input{
    outline: none;
}
select{
    -webkit-appearance: none;
    z-index: 100;
    position: relative;
}

#menuCont{
    width: 110px;
    position: relative;
}


#menuCont::before{
    position: absolute;
    content: "\f57d";
    color: white;
    font-family: FontAwesome;
    font-size: 12px;
    left: 10px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

#menuCont::after{
    position: absolute;
    content: "\f0d7";
    color: white;
    font-family: FontAwesome;
    font-size: 15px;
    right: 10px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

#downArrow{
    right: 10px;
    margin-bottom: 3px;
}


/* Welcome titles & Search Bar */

#welcomeContent{
    transform: translate(-50%, -50%);
    margin-top: 40px;
    
}


#welcomeContent h1{
    font-weight: 500;
    width: 800px;
    max-width: 100%;
    font-size: 60px;

}


#welcomeContent h3{
    font-size: 23px;
    font-weight: 400;
}

#welcomeContent p{
    font-size: 18px;
    font-weight: 400;
}

#SearchBox{
    width: 750px;
    height: 75px;
}

#SearchBox input{
    width: calc(100% - 250px);
    outline: none;
}

#SearchBox button{
    width: 250px;
    outline: none;
    background: #e50914;
    font-size: 28px;
    cursor: pointer;
}

/* Feature section */
#featureSection{
    color: white;
}

#featureSection .featureRow{
    width: 100%;
    border-bottom: 8px solid #222;
    padding: 50px 0;
}

#featureSection .featureRowmin{
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    align-items: center;
    padding: 0 50px;
}

#featureSection .featureRow .rowRerverse{
    flex-direction: row-reverse;
    align-self: flex-start;
}

#featureSection .featureRow .rowRerverse .featureHeading{
    margin-right: 0;
    margin-left: 50px;
}

#featureSection .featureRowmin .featureHeading{
    margin-right: 50px;
}

#featureSection .featureRowmin .featureHeading h1{
    font-size: 3.15rem;
    margin-bottom: 15px;
    font-weight: 600;
}

#featureSection .featureRowmin .featureHeading h2{
    font-size: 1.625rem;
}

#featureSection .featureRowmin div{
    width: 50%;
}

#featureSection .featureRow .featureImg{
    width: 497px;
    max-width: 100%;
}

#featureSection .featureRow .featureImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Question section */
#questionSection{
    color: white;
    width: 900px;
    max-width: 80%;
    margin: auto;
}
#questionSection h1{
    margin: 70px 0 50px;
    font-size: 3.125rem;
    font-weight: 600;
    padding: 0 20px;
}

#accordionCont .accordion{
    margin-bottom: 10px;
}

#accordionCont .accordionHeading{
    background: #303030;
    padding: 22px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    border-bottom: 1px solid #000;
}

#accordionCont h2{
    margin: 0;
    font-weight: 400;
    font-size: 28px;
}

#accordionCont .accordionHeading{
    cursor: pointer;
    user-select: none;
}

#accordionCont .accordionContent{
    padding: 0 31px;
    height: 0;
    overflow: hidden;
    font-size: 1.625rem;
    background: #303030;
    transition: all ease 0.3s;
}

#accordionCont .accordionColaps{
    height: fit-content;
    padding: 31px 31px;
}

/* Footer login Section */
#getStarted{
    padding: 70px 20px 90px;
    color: white;
    text-align: center;
    border-bottom: 8px solid #222;
    margin-bottom: 80px;
}

#getStartedMin p{
    font-size: 1.2rem;
    padding: 0 10px;
}

#getStartedMin .EmailBox{
    width: 750px;
    max-width: 90%;
    height: 60px;
    margin: auto;
    border-radius: 2px;
    margin-top: 2px;
    overflow: hidden;
}

#getStartedMin .EmailBox input{
    width: calc(100% - 230px);
    float: left;
    height: 100%;
    border: none;
    padding-left: 15px;
    outline: none;
}

#getStartedMin .EmailBox button{
    width: 230px;
    height: 100%;
    border: none;
    float: right;
    color: white;
    font-size: 1.615rem;
    outline: none;
    background: #e50914;
}

/* Let's make footer */
#Footer{
    margin-bottom: 30px;
}
#Footer #footerSection{
    width: 1000px;
    max-width: 100%;
    padding: 0 60px;
    margin: auto;
}

#Footer #footerSection a{
    color: #737373;
    text-decoration: none;
}

#Footer #footerSection a:hover{
    text-decoration: underline;
}

#Footer #footerSection p, #Footer #footerSection select{
    color: #737373;
}

#Footer p{
    font-size: 13px;
}

#Footer #footerCall{
    font-size: 1rem;
}

#Footer #footerSection select{
    background: transparent;
    border: 1px solid #333;
    padding: 12px 26px 12px 50px;
    font-size: 16px;
    border-radius: 2px;
    margin: 15px 0 25px;
    position: relative;
}

#Footer #selectBox{
    position: relative;
    width: 135px;
}

#Footer #selectBox::after{
    position: absolute;
    content: "\f0d7";
    color: #737373;
    font-family: FontAwesome;
    font-size: 17px;
    right: 10px;
    top: 43%;
    pointer-events: none;
    transform: translateY(-50%);
}

#Footer #selectBox::before{
    position: absolute;
    content: "\f57d";
    color: #737373;
    font-family: FontAwesome;
    font-size: 18px;
    left: 15px;
    top: 43%;
    pointer-events: none;
    transform: translateY(-50%);
}

#Footer #footerSection ul li{
    list-style: none;
    font-size: 13px;
    text-align: left;
}

#Footer #footerSection ul{
    padding-left: 0;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 13px;
    grid-column-gap: 20px;
}

/* Make Responsive for Larg Screen */
@media (max-width: 1450px) {    
    #Main-Logo{
        width: 160px;
    }

    #mainHeader{
        height: 700px;
    }
    #SearchBox{
        width: 725px;
        height: 65px;
        max-width: 90%;
    }
    #SearchBox button{
        font-size: 25px;
    }
    #welcomeContent h1{
        font-size: 50px;   
        width: 600px;
    }
    #welcomeContent h3{
        font-size: 20px;
    }
    #welcomeContent p{
        font-size: 17px;
    }
}

@media (max-width: 1100px) {
        
    
    #featureSection .featureRowmin .featureHeading h1{
        font-size: 2.83rem;
    }
    #featureSection .featureRowmin .featureHeading h2 {
        font-size: 1.525rem;
    }
    #featureSection .featureRow .rowRerverse .featureHeading{
        margin-right: 0;
        margin-left: 18px;
    }

    #featureSection .featureRowmin .featureHeading{
        margin-right: 18px;
    }
}

/* Make Responsive for medium Screen */
@media (max-width: 950px){
    #SearchBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        width: 800px;
    }
    
    #SearchBox input{
        margin-top: 10px;
        height: 55px;
    }

    #SearchBox button{
        margin-top: 15px;
        font-size: 20px;
        width: 170px;
        padding: 7px 10px;
    }
    #Main-Logo{
        width: 140px;
    }
    #featureSection .featureRowmin{
        padding: 0 30px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    
    }
    #featureSection .featureRow .rowRerverse{
        flex-direction: column;
    }
    #featureSection .featureRowmin div{
        /* border: 2px solid red; */
        width: 100%;
    }
    #featureSection .featureRow .featureImg{
        margin-top: 10px;
    }
    #featureSection .featureRowmin .featureHeading h1{
        font-size: 2.5rem;
    }
    #featureSection .featureRowmin .featureHeading h2{
        font-size: 1.25rem;
    }
    #questionSection h1{
        font-size: 2.5rem;
    }
    #accordionCont .accordionHeading{
        padding: 15px 20px;
        font-size: 23px;
    }
    #accordionCont h2{
        font-size: 21px;
    }
        
    #accordionCont .accordionContent{
        font-size: 20px;
        padding: 0 24px;
    }

    #accordionCont .accordionColaps{
        padding: 24px 24px;
    }
    #getStartedMin .EmailBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    #getStartedMin .EmailBox input{
        width: 100%;
        height: 60px;
    }
    #getStartedMin .EmailBox button{
        width: 200px;
        font-size: 16px;
        height: 40px;
        margin-top: 10px;
    }
    #getStarted{
        padding: 35px 20px 90px;
    }
    #questionSection h1{
        margin: 45px 0 35px;
    }
}

/* Make Responsive for small Screen */
@media (max-width: 750px){
    #SearchBox input{
        height: 50px;
        width: 80%;
    }

    #welcomeContent h1{
        font-size: 45px;
    
    }

    #getStartedMin p{
        font-size: 18px;
    }
    
    #getStartedMin .EmailBox input{
        height: 45px;
    }

    #getStartedMin .EmailBox{
        max-width: 100%;
    }
    #Footer #footerSection ul{
        grid-template-columns: repeat(3, 1fr);
    }
    #Footer #footerSection{
        padding: 0 40px;
    }
    
}

/* Make Responsive for Extra small Screen */
@media (max-width: 550px){
    #mainHeader{
        width: 100%;
        height: 520px;
        min-height: 520px;
    }

    #welcomeContent{
        width: 90% !important;
        margin-top: 30px;
    }

    #welcomeContent h1{
        font-weight: 500;
        width: 800px;
        max-width: 100%;
        font-size: 30px;
    
    }
    
    #welcomeContent h3{
        font-size: 16px;
    }
    
    #welcomeContent p{
        font-size: 16px;    
        padding-top: 0rem!important;
    }
    #signinButton{
        padding: 5px 10px;
        font-size: 15px;
    }
    #menuCont{
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
    }
    #Main-Logo{
        width: 100px;
    }
    #linkMainlogo{
        margin-right: 7px;
    }
    .container-fluid{
        padding: 0;
    }
    #SearchBox input{
        width: 100%;
        margin-top: 0;
    }
    #featureSection .featureRowmin .featureHeading h1{
        font-size: 1.625rem;
    }
    #featureSection .featureRowmin .featureHeading h2{
        font-size: 1.125rem;
    }
    #questionSection h1{
        font-size: 1.625rem;
    }
    #accordionCont h2{
        font-size: 17px;
    }
    #questionSection{
        max-width: 100%;
    }
    #accordionCont .accordionHeading{
        padding: 15px 20px;
        font-size: 23px;
    }
    #accordionCont .accordionContent{
        font-size: 16px;
    }
    #accordionCont .accordionColaps{
        height: fit-content;
        padding: 21px 21px;
    }
    #questionSection h1{
        margin: 45px 0 25px;
    }
    #Footer #footerSection ul{
        grid-template-columns: repeat(2, 1fr);
    }
    #Footer #footerSection{
        padding: 0 35px;
    }
    #getStarted{
        margin-bottom: 45px;
    }
}

/* This is complete now 😊👍 */